@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hier können wir zusätzliche globale Styles definieren */
#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
